/***google fonts***/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: 'Roboto' ,sans-serif; }

.topheader {
  padding: 25px 0; }
  .topheader .contact_box .contact_info .contact_icon i {
    font-size: 35px;
    color: #F69165 !important; }
  .topheader .contact_box .contact_content span.contact_title {
    font-family: 'Roboto' ,sans-serif;
    font-weight: 600;
    font-size: 19px;
    text-transform: capitalize;
    color: #363636; }
  .topheader .contact_box .contact_content span {
    font-family: 'Roboto' ,sans-serif;
    font-weight: 500;
    font-size: 17px;
    text-transform: capitalize;
    color: #A0A0A0; }

.contact_info {
  display: flex; }

.contact_content span {
  display: block; }

.contact_icon {
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 10px;
  font-size: 17px; }

.top-box2, .top-box3 {
  display: flex;
  justify-content: flex-end; }

/***navbar*start here**/
.navbar-brand {
  display: none; }

.navbar {
  background-color: #00CCE1;
  padding: 0 !important; }
  .navbar ul.navbar-nav li a {
    font-size: 19px;
    color: #fff !important;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 10px;
    transition: all 0.2s; }
    .navbar ul.navbar-nav li a:hover {
      color: #333 !important; }
  .navbar .appointment {
    margin-left: auto !important; }
    .navbar .appointment .appoint_content {
      transform: skewX(-25deg); }
    .navbar .appointment .appoint_btn {
      background: #F69165;
      padding: 15px 25px;
      transition: all 0.2s; }
      .navbar .appointment .appoint_btn:hover {
        background-color: #333;
        cursor: pointer;
        transition: all 0.2s; }
      .navbar .appointment .appoint_btn i {
        transform: skewX(25deg) !important;
        color: #fff !important;
        font-size: 18px; }
      .navbar .appointment .appoint_btn span {
        transform: skewX(25deg) !important;
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 18px;
        color: #fff !important; }

/***navbar*end*here*/
/****banner section ****/
.carousel-control-prev {
  display: block; }
  .carousel-control-prev .carousel-control-prev-icon {
    background-color: #54cce1 !important;
    display: block; }

.carousel-control-next {
  display: block; }
  .carousel-control-next .carousel-control-next-icon {
    background-color: #f39165 !important;
    display: block;
    margin-left: auto; }

.carousel-indicators button {
  padding: 0 !important;
  width: 15px !important;
  height: 15px !important;
  outline: none !important;
  border: none !important;
  border-radius: 100% !important; }
.carousel-indicators button:last-child {
  display: none !important; }

.carousel-item .slider1_content .slider1_inner {
  color: #fff; }
  .carousel-item .slider1_content .slider1_inner h3 {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #00CCE1;
    display: inline-block;
    padding: 6px 25px; }
  .carousel-item .slider1_content .slider1_inner h1 {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #00CCE1;
    display: inline-block;
    padding: 6px 25px;
    background-color: #F69165;
    font-size: 40px; }
  .carousel-item .slider1_content .slider1_inner p {
    font-size: 17px;
    font-weight: 500;
    color: #f7f7f7;
    text-transform: capitalize;
    padding: 15px 0; }
  .carousel-item .slider1_content .slider1_inner ul.slider1_btn li a {
    text-decoration: none;
    padding: 15px 25px;
    background: #00CCE1;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.1s; }
    .carousel-item .slider1_content .slider1_inner ul.slider1_btn li a:hover {
      opacity: 0.8;
      transition: all 0.1s; }
  .carousel-item .slider1_content .slider1_inner ul.slider1_btn li a.slider1_btn1 {
    background-color: #F69165; }
.carousel-item .slider2_content h3 {
  background-color: #F69165 !important; }
.carousel-item .slider2_content h1 {
  background-color: #00CCE1 !important; }
.carousel-item .slider2_content ul.slider1_btn .slider1_btn1 {
  background-color: #00CCE1 !important; }
.carousel-item .slider2_content ul.slider1_btn .slider1_btn2 {
  background-color: #F69165 !important; }

.slider1_btn li:last-child, .slider2_btn li:last-child {
  margin-left: 15px; }

.slider1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../image/bg.png");
  background-repeat: no-repeat;
  background-size: cover; }

.slider2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../image/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.slider2_img img, .slider1_img img {
  margin-left: 30px; }

/***weecome section****/
.welcome_div .left_doc_img img {
  height: 100%;
  margin-left: -100px; }
.welcome_div .team_all_content .heading h2 {
  font-size: 35px;
  font-weight: 600;
  color: #000000;
  text-transform: capitalize; }
.welcome_div .team_all_content .heading p {
  font-size: 16px;
  color: #707070;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  padding: 30px 0; }
.welcome_div .team_all_content .service_content i {
  color: #F69165;
  font-size: 38px;
  padding: 0 0 15px 0; }
.welcome_div .team_all_content .service_content h2 {
  font-weight: 600;
  font-size: 22px;
  color: #363636; }
.welcome_div .team_all_content .service_content p {
  font-weight: 500;
  font-size: 16px;
  color: #707070;
  padding: 20px 0; }

/*****doc_gallery*****/
.doc_gallery .doc_heading .doc_head_content h2 {
  font-weight: 600;
  font-size: 35px;
  color: #000000;
  text-transform: capitalize; }
.doc_gallery .doc_heading .doc_head_content p {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #707070;
  text-transform: capitalize;
  line-height: 1.5;
  padding: 20px 0; }

/****doc gallery****/
/*****doctore gallery *****/
.each_doc_box_5 .card {
  border-bottom-color: #F69165 !important; }
  .each_doc_box_5 .card h3 {
    color: #F69165 !important; }
.each_doc_box_5 .doc_overlay {
  display: block !important; }
.each_doc_box_5 .doc_social {
  display: block !important; }

.each_doc_box {
  transition: all 0.2s; }
  .each_doc_box .card {
    transition: all 0.3s; }
    .each_doc_box .card:hover {
      border-bottom-color: #F69165;
      transition: all 0.2s; }
    .each_doc_box .card:hover h3 {
      color: #F69165;
      transition: all 0.2s; }
  .each_doc_box .doc_image {
    position: relative;
    transition: all 0.2s; }
    .each_doc_box .doc_image:hover .doc_overlay {
      display: block;
      transition: all 0.3s; }
    .each_doc_box .doc_image:hover .doc_social {
      display: block;
      transition: 0.3s; }
    .each_doc_box .doc_image .doc_overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #00000096;
      width: 100%;
      display: none;
      transition: all 0.3s; }
    .each_doc_box .doc_image img {
      height: 260px;
      object-fit: cover;
      transition: all 0.2s; }

.doc_box1 {
  background: #E7E7E7;
  border: none;
  border-bottom: 3px solid #00CCE1;
  transition: all 0.2s; }
  .doc_box1 .card-body {
    background: #fff;
    box-shadow: 0px 0px 3px #e4e4e4;
    transition: all 0.2s; }
    .doc_box1 .card-body h3 {
      margin-bottom: 0px !important; }

.doc_social {
  position: absolute;
  top: 40%;
  left: 32%;
  display: none;
  transition: 0.3s; }
  .doc_social ul li {
    padding: 7px 10px;
    border: 2px solid white;
    margin: 0 4px; }
    .doc_social ul li:hover {
      background: #F69165; }
    .doc_social ul li a i {
      font-size: 20px;
      color: white; }

/*****our service section*****/
.our_service_div .ser_heading .ser_head_content h2 {
  font-weight: 600;
  font-size: 35px;
  color: #000000;
  text-transform: capitalize; }
.our_service_div .ser_heading .ser_head_content p {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #707070;
  text-transform: capitalize;
  line-height: 1.5;
  padding: 20px 0; }
.our_service_div .each_ser_box_5 {
  border-color: #F69165 !important; }
  .our_service_div .each_ser_box_5 h2 {
    color: #F69165 !important; }
  .our_service_div .each_ser_box_5 span {
    color: #F69165 !important; }
.our_service_div .all_ser_box .each_ser_box {
  border: 3px solid #3333334a;
  padding: 25px;
  transition: all 0.3s; }
  .our_service_div .all_ser_box .each_ser_box:hover {
    border-color: #F69165;
    transition: all 0.3s;
    cursor: pointer; }
  .our_service_div .all_ser_box .each_ser_box .each_box_contents h2 {
    font-weight: 700;
    font-size: 22px;
    color: #363636;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    transition: all 0.2s; }
    .our_service_div .all_ser_box .each_ser_box .each_box_contents h2 i {
      color: #F69165;
      font-size: 30px;
      margin-right: 5px; }
  .our_service_div .all_ser_box .each_ser_box .each_box_contents p {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #707070;
    text-transform: capitalize;
    line-height: 1.5;
    padding: 15px 0; }
  .our_service_div .all_ser_box .each_ser_box .each_box_contents span {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #707070;
    text-transform: capitalize;
    transition: all 0.2s; }
  .our_service_div .all_ser_box .each_ser_box .each_box_contents:hover h2 {
    color: #F69165;
    transition: all 0.2s; }
  .our_service_div .all_ser_box .each_ser_box .each_box_contents:hover span {
    color: #F69165;
    transition: all 0.2s; }

/*****price section start*****/
.price_plan_div {
  background-color: #F9F9F9; }
  .price_plan_div .price_heading .price_head_content h2 {
    font-weight: 600;
    font-size: 35px;
    color: #000000;
    text-transform: capitalize; }
  .price_plan_div .price_heading .price_head_content p {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #707070;
    text-transform: capitalize;
    line-height: 1.5;
    padding: 20px 0; }
  .price_plan_div .each_price_box2 .each_price_box_content {
    border-color: #F69165 !important;
    transition: all 0.3s; }
    .price_plan_div .each_price_box2 .each_price_box_content .each_price_title h2 {
      color: #F69165 !important;
      transition: all 0.3s; }
    .price_plan_div .each_price_box2 .each_price_box_content .each_price_box_usd {
      background-color: #F69165 !important;
      transition: all 0.3s; }
      .price_plan_div .each_price_box2 .each_price_box_content .each_price_box_usd h1 {
        color: #fff !important;
        transition: all 0.3s; }
      .price_plan_div .each_price_box2 .each_price_box_content .each_price_box_usd span {
        color: #fff !important;
        transition: all 0.3s; }
    .price_plan_div .each_price_box2 .each_price_box_content .each_price_box_btn {
      transition: all 0.3s; }
      .price_plan_div .each_price_box2 .each_price_box_content .each_price_box_btn a {
        background-color: #F69165 !important;
        color: #FFFFFF !important;
        transition: all 0.3s; }
  .price_plan_div .each_price_box {
    transition: all 0.3s; }
    .price_plan_div .each_price_box:hover .each_price_box_content {
      border-color: #F69165;
      transition: all 0.3s; }
      .price_plan_div .each_price_box:hover .each_price_box_content .each_price_title h2 {
        color: #F69165;
        transition: all 0.3s; }
      .price_plan_div .each_price_box:hover .each_price_box_content .each_price_box_usd {
        background-color: #F69165;
        transition: all 0.3s; }
        .price_plan_div .each_price_box:hover .each_price_box_content .each_price_box_usd h1 {
          color: #fff;
          transition: all 0.3s; }
        .price_plan_div .each_price_box:hover .each_price_box_content .each_price_box_usd span {
          color: #fff;
          transition: all 0.3s; }
      .price_plan_div .each_price_box:hover .each_price_box_content .each_price_box_btn {
        transition: all 0.3s; }
        .price_plan_div .each_price_box:hover .each_price_box_content .each_price_box_btn a {
          background-color: #F69165;
          color: #FFFFFF;
          transition: all 0.3s; }
    .price_plan_div .each_price_box .each_price_box_content {
      border: 5px solid #fff;
      background-color: #f5f4f4;
      padding: 20px 0 50px 0; }
      .price_plan_div .each_price_box .each_price_box_content .each_price_title {
        padding: 20px 0; }
        .price_plan_div .each_price_box .each_price_box_content .each_price_title h2 {
          font-weight: 700;
          font-size: 30px;
          color: #00CCE1;
          text-transform: capitalize;
          margin: 0 !important; }
        .price_plan_div .each_price_box .each_price_box_content .each_price_title span {
          display: block;
          font-weight: 400;
          font-size: 16px;
          color: #707070;
          text-transform: capitalize; }
      .price_plan_div .each_price_box .each_price_box_content .each_price_box_usd {
        padding: 25px 0;
        background-color: #FFFFFF; }
        .price_plan_div .each_price_box .each_price_box_content .each_price_box_usd h1 {
          font-weight: 500;
          font-size: 45px;
          color: #00CCE1;
          margin: 0 !important; }
        .price_plan_div .each_price_box .each_price_box_content .each_price_box_usd span {
          display: block;
          font-weight: 400;
          font-size: 16px;
          color: #00CCE1;
          text-transform: capitalize; }
      .price_plan_div .each_price_box .each_price_box_content .each_price_box_service {
        padding: 60px 0; }
        .price_plan_div .each_price_box .each_price_box_content .each_price_box_service h5 {
          font-weight: 400;
          font-size: 16px;
          color: #707070;
          text-transform: capitalize;
          padding: 3px 0; }
      .price_plan_div .each_price_box .each_price_box_content .each_price_box_btn a {
        text-decoration: none;
        padding: 15px 50px;
        background-color: #00CCE1;
        font-size: 16px;
        font-weight: 700;
        color: #FFFFFF;
        text-transform: uppercase; }

/*******our clients section start********/
.our_happy_clients_div {
  background-image: linear-gradient(rgba(49, 49, 49, 0.8), rgba(27, 26, 26, 0.9)), url("../image/ourclient_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white; }
  .our_happy_clients_div .container {
    padding: 60px 0; }
  .our_happy_clients_div .price_heading .price_head_content h2 {
    font-weight: 600;
    font-size: 35px;
    color: #fff;
    text-transform: capitalize; }
  .our_happy_clients_div .price_heading .price_head_content p {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    line-height: 1.5;
    padding: 20px 0; }
  .our_happy_clients_div .client_imgs img {
    height: 90px;
    object-fit: contain; }
  .our_happy_clients_div .owl-dots {
    display: none; }
  .our_happy_clients_div .owl-nav {
    position: relative;
    margin-left: -25px;
    margin-right: -25px; }
  .our_happy_clients_div button.owl-prev {
    position: absolute;
    left: 0;
    top: -60px;
    background-color: #00CCE1 !important;
    height: 26px;
    width: 26px;
    border-radius: 3px; }
    .our_happy_clients_div button.owl-prev span {
      display: block;
      font-size: 30px;
      position: absolute;
      top: -10px;
      right: 8px; }
  .our_happy_clients_div button.owl-next {
    position: absolute;
    right: 0;
    top: -60px;
    background-color: #F69165 !important;
    height: 26px;
    width: 26px;
    border-radius: 3px; }
    .our_happy_clients_div button.owl-next span {
      display: block;
      font-size: 30px;
      position: absolute;
      top: -10px;
      right: 8px; }

/****footer****/
footer {
  background-color: #1B1B1B;
  color: #fff; }
  footer .foter_contents {
    /*****for left *****/
    /****for 2nd col****/
    /****newsletter******/ }
    footer .foter_contents p, footer .foter_contents span {
      font-weight: 400;
      font-size: 16px;
      color: #B4B4B4;
      text-transform: capitalize; }
    footer .foter_contents .foter_each_box_title h2 {
      padding-bottom: 30px;
      font-weight: 800;
      font-size: 30px;
      color: #FFFFFF;
      text-transform: capitalize; }
    footer .foter_contents .icon_box {
      align-items: center; }
      footer .foter_contents .icon_box .icon_box_each_icon i {
        color: #00CCE1;
        font-size: 29px;
        padding-right: 15px; }
    footer .foter_contents .post_box {
      transition: all 0.2s;
      margin-bottom: 8px; }
      footer .foter_contents .post_box:hover {
        cursor: pointer; }
        footer .foter_contents .post_box:hover p {
          font-weight: 600;
          transition: all 0.2s; }
      footer .foter_contents .post_box .post_box_each_img {
        padding-right: 20px; }
        footer .foter_contents .post_box .post_box_each_img img {
          width: 80px;
          height: 80px;
          object-fit: cover; }
      footer .foter_contents .post_box .post_box_content p {
        margin: 0 !important;
        padding-bottom: 8px; }
      footer .foter_contents .post_box .post_box_content span {
        font-weight: 500; }
    footer .foter_contents .newsleter_p {
      padding-bottom: 60px !important; }
    footer .foter_contents .newsletter_form {
      padding-bottom: 20px !important; }
      footer .foter_contents .newsletter_form form input.newsletter_input {
        height: 49px;
        border: 2px solid #444444;
        border-right: none;
        background-color: transparent;
        padding-left: 20px;
        color: #f39165;
        font-weight: 500;
        font-size: 16px;
        transition: all 0.2s; }
        footer .foter_contents .newsletter_form form input.newsletter_input:focus {
          outline: none;
          border-color: #f39165;
          transition: all 0.2s; }
        footer .foter_contents .newsletter_form form input.newsletter_input::placeholder {
          color: #3D3D3D;
          font-weight: 500;
          text-transform: capitalize;
          font-size: 16px; }
      footer .foter_contents .newsletter_form form a.newsletter_btn {
        text-decoration: none;
        padding: 15px 35px;
        background-color: #F69165;
        font-size: 16px;
        font-weight: 700;
        color: #FFFFFF;
        text-transform: uppercase;
        transition: all 0.2s;
        margin-left: -6px; }
        footer .foter_contents .newsletter_form form a.newsletter_btn:hover {
          background-color: #d26f44;
          transition: all 0.2s; }
    footer .foter_contents .follow_icon {
      align-items: center; }
      footer .foter_contents .follow_icon .follow_title h3 {
        font-weight: 600;
        font-size: 20px;
        color: #FFFFFF;
        text-transform: capitalize;
        padding-right: 15px; }
      footer .foter_contents .follow_icon ul li a i {
        padding: 13px 15px;
        margin: 0 3px;
        background-color: #323232;
        transition: all 0.2s; }
        footer .foter_contents .follow_icon ul li a i:hover {
          background-color: #F69165;
          transition: all 0.2s; }

.linkdin {
  background-color: #F69165 !important; }

/*# sourceMappingURL=style.css.map */
